.chat-input-area{
    height: 5%;
    width: 100%;
}
.chat-input-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-input-text{
    height: 75%;
    outline: none;
    padding: 0 10px;
    flex-grow: 1;
    border-radius: 20px;
    /* border: 1px solid lightgrey; */
    background-color: #323232;
    color: white;
    border: none;
}
.chat-input-text::placeholder{
    color: #646464;
}
.chat-input-btn{
    margin: 10px; 
}