.chat-input-area{
    height: 5%;
    width: 100%;
}
.chat-input-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-input-text{
    height: 75%;
    outline: none;
    padding: 0 10px;
    flex-grow: 1;
    border-radius: 20px;
    /* border: 1px solid lightgrey; */
    background-color: #9da1a6;
    color: white;
    /* font-weight: 500; */
    /* place */
}
.chat-input-text::placeholder{
    color: rgb(49,49, 49);
}
.chat-input-btn{
    margin: 10px; 
}