.sender{
    float: left;
    clear: right;
    
}
.receiver{
    float: right;
    clear: left;
    /* width: 50%; */
    /* display: block; */
}
/* .cont{
    display: flex;
    flex-direction: ;
} */