.signup-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #55585c;
    /* background-color: red; */
    color: white;
}
.signup-comp {
    width: 30%;
    height: 10%;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
}
.signup-comp.title {
    width: 30%;
    height: 20%;
    font-size: 35px;
}

.signup-comp > label {
    margin-bottom: 10px;
    font-size: 20px;
    color: white !important;
}
.signup-comp > input {
    width: 100%;
    /* height: 30%; */
    font-size: 20px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #9da1a6;
    color: white;
}
.signup-comp > input[type="button"] {
    background-color: #9da1a6 !important;
    color: white !important;
}

.signup-comp.opt {
    flex-direction: row-reverse;
    justify-content: space-between;
    font-style: italic;
}
.signup-comp > small {
    cursor: pointer;
}
